.backround {
    background-color: rgb(238, 238, 238);
}

.bgcolor {
    background-color: rgba(10, 55, 94);
}

.colorblue {
    color: rgb(8, 48, 94);
}

.barcolor {
    background: rgb(238, 241, 246);
}

.colorgreen {
    color: rgb(95, 185, 84);
}

.heightbar {
    height: full;
}

.bordercolor1 {
    border-width: 1px;
    border-color: #051e1e;
    background:rgb(210, 171, 153);
    box-shadow:0 0 20 black;
     border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }
  .bordercolor2 {
    border-width: 1px;
    border-color: #051e1e;
    background:rgb(210, 211, 197);
     box-shadow:0 0 20 black;
     border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }.bordercolor3 {
    border-width: 1px;
    background:rgb(130, 149, 162);
    border-color: #051e1e;
    box-shadow:0 0 20 black;
     border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }.bordercolor4 {
    border-width: 1px;
    border-color: #051e1e;
    box-shadow:0 0 20 black;
    background:rgb(64, 97, 140);
     border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }


.colortext {
    color: rgb(7, 120, 109);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 2px;
    font-weight: 700;
}
